# Global
invoke/invoke/.chalice
scheduled/scheduled/.chalice
s3trigger/s3trigger/.chalice

invoke/invoke/__pycache__
scheduled/scheduled/__pycache__
s3trigger/s3trigger/__pycache__


# Ambiente virtual
.chalice/venv/
venv/
env/
ENV/

# Diretórios de deployments do Chalice
.chalice/deployments/

# Python arquivos gerados
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# Arquivos de ambiente
.env

# Diretórios de desenvolvimento IDE/Editor
.vscode/
.idea/

# Node.js dependências
node_modules/

